/* GENERAL */
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-size: 100%;
    background-image: url(/LLM_Activitat_transversal/img/vertical_wallpaper.jpg), url(/img/vertical_wallpaper.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: sticky; top: 0;
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 25px;
}

/* BARRA DE NAVEGACIÓ */
#nav {
    position: sticky;
    width: 100%;
    font-family: 'Trebuchet MS', 'Gill Sans', 'Helvetica', sans-serif;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
}

ul, ol {
    list-style: none;
}

.navbar li a.active {
    background-color: rgb(0, 0, 0);
    color: rgb(175, 0, 0);
}

.navbar {
    display: flex;
    flex-grow: 1;
}

.navbar li a {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar li a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(175, 0, 0);
}

.navbar > li {
    flex-grow: 1;
    position: relative;
}

.navbar li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
}

/* Estilos para los enlaces dentro del submenú */
#nav ul li ul li a {
    background-color: rgb(255, 255, 255);
    color: rgb(175, 0, 0);
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Cambiar color del enlace cuando se pasa el ratón por encima */
#nav ul li ul li a:hover {
    background-color: rgb(175, 0, 0);
    color: #fff;
}

.navbar li:hover > ul {
    display: block;
}

/* FOOTER */
footer {
    background-color: rgb(175, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Gill Sans', 'Helvetica', sans-serif;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

/* HTML - INDEX */
.index {
    width: 93%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 18px; font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif; color: rgb(0, 0, 0);
    text-align: center;vertical-align: top; line-height: 1.5;
    margin: 25px; padding: 25px;
    border-left: 10px solid rgb(175, 0, 0);
}

.img_index {
    height: 350px;
    margin-top: 25px;
    transition: transform 0.3s ease;
}

.img_index:hover {
    transform: scale(1.05);
}

.ressaltar {
    font-style: italic; 
    font-weight: bold; 
    color: rgb(150, 0, 0);
}

.index h1 {
    text-align: justify; 
    font-style: italic; 
    color: rgb(0, 0, 0);
    line-height: 2.5;
}

.index h2 {
    text-align: justify; 
    font-style: italic;
    line-height: 2.5;
}

.img_info {
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.index p {
    text-align: justify;
    font-size: 20px;
    line-height: 1.75;
}

#dades {
    text-align: justify;
    text-indent: 25px;
    line-height: 2;
}

#dades ul li {
    text-indent: 50px;
}

#dades ul li > ul li {
    text-indent: 75px;
}

.container {
    display: flex;
}
.section {
    flex: 1; /* Esto hace que ambas secciones tengan el mismo ancho */
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

/* HTML - HISORIA */
.historia {
    width: 93%;
    padding: 25px; margin: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif;
    line-height: 1.5;
    border-left: 10px solid rgb(175, 0, 0);
    text-align: center;
}

.historia h2 {
    color: rgb(125, 0, 0);
    font-size: 24px;
    margin-bottom: 15px;
}

.historia p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 10px;
}

.historia ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: justify;
}

.historia ul li {
    font-size: 16px;
    margin-bottom: 8px;
}

.historia h1 {
    color: rgb(0, 0, 0);
    text-align: justify; 
    font-style: italic;
}

.historia h2 {
    color: rgb(150, 0, 0);
    text-align: justify; 
    font-style: italic; 
}

.historia p {
    color: rgb(0, 0, 0);
    text-align: justify;
}

.historia img {
    height: 275px;
    transition: transform 0.3s ease;
}

.historia img:hover {
    transform: scale(1.05);
}

/* HTML - PERSONATGES */
.columna_pers {
    float: left;
    width: auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 18px; font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif; color: rgb(0, 0, 0);
    text-align: justify; vertical-align: top; line-height: 1.5;
    display: flex;
    justify-content:stretch;
    margin-bottom: 50px;
    gap: 15px;
    border-left: 10px solid rgb(175, 0, 0);
}
.Jin {
    height: 250px;
    width: 250px;
    padding-right: 25px;
    display:flex;
    transition: transform 0.3s ease;
}

.Jin:hover {
    transform: scale(1.05);
}

/* HTML - HABILITATS & ARMES */
#Skill_Tree {
    width: 100%
}

#Skill_Tree img {
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid rgb(160, 150, 90);
    width: 70%;
    padding: 15px;
    margin-bottom: 15px;
}

table {
    width: auto;
    font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: auto; margin-bottom: 15px;
    border-collapse: collapse;
}

.th_arbre {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(180, 155, 95);
    border: 2px solid rgb(180, 155, 95);
    font-size: 22.5px;
    font-style: italic;
}

.th_sub_arbre {
    background-color: rgb(180, 155, 95);
    color: rgb(0, 0, 0);
    font-size: 22.5px;
    font-style: italic;
}

.row_header th {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(180, 155, 95);
    font-style: italic;
}

tr > th {
    width: 12.5%;
    background-color: rgb(180, 155, 95);
    font-size: 20px;
    padding: 20px;
    font-style: italic;
}

td {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
}

.row_habilitat th {
    background-color: rgb(230, 220, 175);
}

.row_habilitat td {
    background-color: rgb(230, 220, 175);
}

.hab {
    width: 60px;
    padding: 5px;
    text-align: center;
}

.hab_text {
    font-size: 18px;
    text-align: justify;
    padding: 20px;
}

.hab:hover {
    opacity: 0.75;
}

.columna_arma {
    width: 90%;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(175, 0, 0, 0.95);
    font-family: 'Gill Sans', 'Trebuchet MS', Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    vertical-align: top;
    display: flex;
    flex-direction: row;
}

.arma {
    width: 250px;
    padding-right: 25px;
}

.arma:hover {
    opacity: 0.95;
}

/* HTML - GALERIA */
.galeria {
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 18px; font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif; color: rgb(0, 0, 0);
    text-align: center; vertical-align: top; line-height: 1.5;
    margin-left: 25px; margin-right: 25px;
    margin-top: 15px; margin-bottom: 15px;
    padding: 15px;
    border-left: 10px solid rgb(175, 0, 0);
    box-sizing: border-box;
}

.galeria h1 {
    text-align: justify; 
    font-style: italic; 
    color: rgb(0, 0, 0);
}

.galeria h2 {
    text-align: justify; 
    font-style: italic;
    color: rgb(175, 0, 0);
}

.galeria p {
    text-align: justify;
    font-size: 20px;
}

.galeria_proleg {
    display: grid;
    background-color: rgba(255, 255, 255, 0.75);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: auto;
    margin: 15px 25px;
    padding: 15px;
    align-items: center;
}

.galeria_proleg img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.galeria_proleg img:hover {
    transform: scale(1.1);
}

.galeria_acte1 {
    display: grid;
    background-color: rgba(255, 255, 255, 0.75);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: auto;
    margin: 15px 25px;
    padding: 15px;
    align-items: center;
}

.galeria_acte1 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.galeria_acte1 img:hover {
    transform: scale(1.1);
}

.galeria_acte2 {
    display: grid;
    background-color: rgba(255, 255, 255, 0.75);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: auto;
    margin: 15px 25px;
    padding: 15px;
    align-items: center;
}

.galeria_acte2 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.galeria_acte2 img:hover {
    transform: scale(1.1);
}

.galeria_acte3 {
    display: grid;
    background-color: rgba(255, 255, 255, 0.75);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: auto;
    margin: 15px 25px;
    padding: 15px;
    align-items: center;
}

.galeria_acte3 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.galeria_acte3 img:hover {
    transform: scale(1.1);
}


/* ESTIL DEL FORMULARI */

form {
    font-family: 'Gill Sans', 'Trebuchet MS', Helvetica, sans-serif; color: white;
    background-color: rgba(175, 0, 0, 0.95);
    padding: 25px; margin: 25px;
}

label {
    text-align: left;
}

input {
    margin-top: 10px; margin-bottom: 10px ; padding: 5px;
    width: 50%;
}

#div_tornar {
    background-color: rgb(150, 0, 0);
    margin: 50px;
    padding: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', Helvetica, 'Gill Sans', sans-serif;
}

#form_tornar {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#tornar {
    background-color: rgb(150, 0, 0);
    color: rgb(255, 255, 255);
    width: 5px;
}


/* HTML - NOSALTRES */

#nosaltres {
    width: 95%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 18px; font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif; 
    color: rgb(0, 0, 0);
    text-align: center; vertical-align: top; line-height: 1.5;
    display: flex;
    margin: 25px; padding: 25px;
    gap: 15px;
}

#nosaltres_cap {
    background-color: rgb(0, 0, 0); 
    color: rgb(180, 155, 95); 
    border:solid rgb(180, 155, 95); border-radius: 10px;
    display: flex; 
    align-items: center; 
    gap: 20px; 
    padding: 20px; 
    margin-bottom: 25px;
    width: 100%;
}

#nosaltres_cap h1 {
    font-style: italic; 
    font-family: 'Trebuchet MS', 'Gill Sans', 'Helvetica', sans-serif;
}

#nosaltres_cap button {
    background-color: rgb(180, 155, 95); 
    color: rgb(0, 0, 0); 
    border: none; border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 10px;
}

#nosaltres_info {
    width: 100%; padding: 20px; 
    background-color: rgb(255, 255, 255);
    border-radius: 8px; 
    font-family: 'Trebuchet MS', 'Gill Sans', 'Helvetica', sans-serif;
}

#nosaltres_info h2 {
    font-style: italic;
    font-weight: bolder;
    line-height: 1.75;
}

#nosaltres_info p {
    line-height: 1.5;
}

#nosaltres_info ul {
    text-indent: 25px;
}