body {
    margin: 0;
    background-color: rgb(225, 225, 225);
    }

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    }

.topnav {
    overflow: hidden;
    background-color: rgb(175, 0, 0);
    color: white;
    font-family: Lucida Sans;
    display: flex;
    justify-content:space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
    
.topnav a {
    flex-grow: 1;
    float: inline-end;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    }
    
.topnav a:hover {
    background-color: rgb(225, 0, 0);
    color: white;
    }
    
.topnav a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(175, 0, 0);
    }
.topnav a.active:hover {
    background-color: rgb(225, 0, 0);
    color: white;
}
.pic1 {
  float: right;
  height:170px; margin:15px;
  
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.article {
    float: right;
    margin: 15px;
    padding: 15px;
}
