/* GENERAL */
body {
    margin: 0;
    background-size: 100%;
    background-image: url(/LLM_Activitat_transversal/img/vertical_wallpaper.jpg), url(/img/vertical_wallpaper.jpg);
    }

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    }

/* BARRA DE NAVEGACIÓ */
.navbar {
    overflow: hidden;
    background-color: rgb(175, 0, 0);
    color: white;
    font-family: Lucida Sans;
    display: flex;
    justify-content:space-around;
    margin: 0;
    padding: 0;
    }
    
.navbar a {
    flex-grow: 1;
    float: inline-end;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    }
    
.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(175, 0, 0);
    }

    
.navbar a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(175, 0, 0);
    }

.navbar a.active:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(175, 0, 0);
}

/* HTML - INDEX */
.img_index {
    width: 200px;
    padding: 10px;
}

/* HTML - PERSONATGES */
.columna_pers {
    float: left;
    width: 95%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.80);
    font-family: Lucida Sans; color: rgb(0, 0, 0);
    text-align: justify; vertical-align: top;
    display: flex;
    justify-content:stretch;
    margin: 25px; padding: 25px;
}
.Jin {
    height: 250px;
    width: 250px;
    padding-right: 25px;
}

.Jin:hover {
    opacity: 0.9;
}

/*HTML - HABILITATS & ARMES */
table {
    width: 100%;
    padding: 25px;
    font-family: Lucida Sans; color: rgb(0, 0, 0);
    border-collapse: separate; border-spacing: 10px;
    text-align: center;
}

th {
    width: 12.5%;
    background-color: rgba(200, 200, 200, 0.9);
    font-size: 25px;
    padding: 20px;
}

td {
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    padding: 5px;
}

.row_habtit {
    font-size: 15px;
}

.hab {
    width: 60px;
    padding: 2px;
}

.hab_desc {
    font-size: 15px;
    padding: 2px;
}

.hab:hover {
    opacity: 0.5;
}

.columna_arma {
    float: left;
    width: 95%;
    padding: 25px;
    background-color: rgba(175, 0, 0, 0.9);
    font-family: Lucida Sans; color: rgb(255, 255, 255);
    text-align: justify; vertical-align: top;
    display: flex;
    justify-content:stretch;
    margin: 25px; padding: 25px;
}

.arma {
    width: 250px;
    padding-right: 25px;
}

.arma:hover {
    opacity: 0.5;
}

/* ESTIL DEL FORMULARI */

form {
    font-family: Tahoma, Geneva, Verdana, sans-serif; color: white;
    background-color: rgba(175, 0, 0, 0.9);
    padding: 25px; margin: 25px;
}

label {
    text-align: left;
}

input {
    margin-top: 10px; margin-bottom: 10px ; padding: 5px;
    width: 50%;
}